# The following workflow runs upon pushing new commits to any branches
# It runs and reports on code quality
name: Quality Control
permissions: {}
on: push
jobs:
  check:
    name: Check quality (Ruby ${{matrix.ruby-version}} and Rust ${{matrix.rust-version}}
      on ${{matrix.os}})
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, macos-11, macos-12]
        ruby-version: ['2.7', '3.0', '3.1']
        rust-version: ['1.64']
    steps:
      - name: Checkout project
        uses: actions/checkout@v3.1.0
      - name: Install project-compatible Ruby
        uses: ruby/setup-ruby@v1.118.0
        with:
          ruby-version: ${{matrix.ruby-version}}
          bundler: 2.3.23
          bundler-cache: true
          cache-version: ${{hashFiles('*.gemspec')}}
      - name: Install project-compatible Rust
        run: |
          rustup install --profile minimal ${{matrix.rust-version}}
          rustup default ${{matrix.rust-version}}
      - name: Restore Rust package Cache
        uses: actions/cache@v3.0.11
        with:
          key: ${{matrix.os}}-${{matrix.rust-version}}-${{hashFiles('**/Cargo.lock')}}
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
      - name: Run checks and tests
        run: bundle exec rake rubocop test smoke_test
